In [1]:
from gtfparse import read_gtf

In [2]:
df = read_gtf("data/Anopheles-stephensi-SDA-500_BASEFEATURES_AsteS1.7.gtf")

INFO:root:Extracted GTF attributes: ['gene_id', 'transcript_id', 'exon_number']

In [3]:
df.head()

,seqname,source,feature,start,end,score,strand,frame,gene_id,transcript_id,exon_number
0,KB664845,VectorBase,gene,3348,3623,NaN,-,0,ASTE003361,,
1,KB664845,VectorBase,transcript,3348,3623,NaN,-,0,ASTE003361,ASTE003361-RA,
2,KB664845,VectorBase,exon,3522,3623,NaN,-,0,ASTE003361,ASTE003361-RA,1
3,KB664845,VectorBase,CDS,3522,3623,NaN,-,0,ASTE003361,ASTE003361-RA,1
4,KB664845,VectorBase,start_codon,3621,3623,NaN,-,0,ASTE003361,ASTE003361-RA,1

this is a mosquito so its genome is not well annotated

there are 9 columns in the gtf

only extract gene rows (3rd column)

need:
- chromosome (col 1)
- start (col 4)
- end (col5)

and from col 8 i need gene_id (edited)

In [4]:
df2 = df[['seqname', 'start', 'end', 'gene_id']]
df2.head()

    seqname  start   end     gene_id
0  KB664845   3348  3623  ASTE003361
1  KB664845   3348  3623  ASTE003361
2  KB664845   3522  3623  ASTE003361
3  KB664845   3522  3623  ASTE003361
4  KB664845   3621  3623  ASTE003361

In [6]:
df2.to_csv("data/Anopheles-stephensi-SDA-500_BASEFEATURES_AsteS1.7.csv", index=False)